$blue: #1c67ad;
$darkblue: #194c7c;
$grey: #8b9099;
$lightgrey: #eef1f7;
$richblack: #051e35;

$panelShadow: 0px 0px 8px 0.5px $lightgrey;
@mixin blueGradient {
    background: rgb(62, 138, 208);
    background: -moz-linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    background: -webkit-linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    background: linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e8ad0",endColorstr="#5d9bde",GradientType=1);
}
