$lightblue: #4a9ecc;
$blue: #3e8ad0;
$darkblue: #194c7c;
$grey: #8b9099;
$lightgrey: #eef1f7;
$lightergrey: #fafafdf7;
$richblack: #051e35;

$panelShadow: 0px 1px 3px
    rgba(
        $color: $richblack,
        $alpha: 0.1,
    );

@mixin blueGradient {
    background: #3e8ad0;
    background: -moz-linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    background: -webkit-linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    background: linear-gradient(
        337deg,
        rgba(62, 138, 208, 1) 0%,
        rgba(74, 158, 204, 1) 50%,
        rgba(93, 155, 222, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e8ad0",endColorstr="#5d9bde",GradientType=1);
}
