@import "./_defaults.scss";

* {
    font-family: "IBM Plex Sans", Montserrat, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body,
#root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App {
    display: flex;
    position: relative;
    height: 100%;
    font-size: 1rem;

    .left-side-panel {
        @include blueGradient;
        height: 100%;
        width: 20%;
        overflow: auto;
        box-shadow: $panelShadow;
        position: relative;
        z-index: 5;
    }

    .center-panel {
        height: 100%;
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: stretch;
    }

    span.placeholder {
        position: relative;

        &::after {
            content: "";
            background: $lightgrey;
            position: relative;
            display: inline-block;
            top: -2px;
            height: 8px;
            width: 100%;
            border-radius: 5px;
        }

        &.small::after {
            width: 25%;
        }
        &.medium::after {
            width: 50%;
        }
        &.large::after {
            width: 75%;
        }
        &.largest::after {
            width: 100%;
        }
    }
}
