<!DOCTYPE html>
<html>
    <head>
        <title>Apprentice Chat App</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />

        <!--STYLES-->
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/importer.css" />
        <!--STYLES END-->
    </head>

    <body>
        <%- body %>

        <!--TEMPLATES-->
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script
            src="https://kit.fontawesome.com/9cf88f6fb5.js"
            crossorigin="anonymous"
        ></script>
        <script src="/dependencies/sails.io.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
