@import "../_defaults.scss";

.new-channel.form {
    min-width: 300px;
}

.create-username.form {
    min-width: 300px;
}

.change-username.form {
    min-width: 300px;
}

.form {
    label.text {
        display: block;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        color: $richblack;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    input[type="submit"] {
        display: block;
        padding: 8px 16px;
        border: none;
        border-radius: 3px;
        background: $blue;
        color: white;
        margin-top: 16px;
        width: 100%;
        font-size: 0.85rem;
        font-weight: bold;
        letter-spacing: 0.7px;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            background: $darkblue;
            box-shadow: $panelShadow;
        }

        &:disabled {
            background: $grey;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
}
