@import "../../_defaults.scss";

.input-icon-container {
    position: relative;

    input[type="text"] {
        display: block;
        outline: none;
        border: none;
        width: 100%;
        font-size: 0.85rem;
        padding: 6px 10px;
        padding-left: 28px;
        border-radius: 3px;
        letter-spacing: 0.5px;
        background: $lightergrey;
        border: 2px solid $lightgrey;
        transition: border 200ms ease-in;
    }

    span.fas {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $grey;
        font-size: 0.85rem;
        transition: color 200ms ease-in;
    }

    input[type="text"]:focus {
        border-color: $blue;

        & ~ span.fas {
            color: $blue;
        }
    }

    input.invalid {
        border-color: #ff5656 !important;
        box-shadow: 0px 1px 3px rgba($color: #ff5656, $alpha: 0.2);

        & ~ span.fas {
            color: #ff5656 !important;
        }
    }
}
