@import "../../_defaults.scss";

.channel-info-container {
    width: 100%;
    background: white;
    padding: 8px 24px;
    padding-bottom: 16px;
    box-shadow: $panelShadow;
    font-size: 1rem;
    letter-spacing: 0.25px;
    min-height: 40px;

    .channel-name {
        padding: 0;
        margin: 0;
        margin-left: 24px;
        margin-bottom: 2px;
        font-weight: bold;
        color: $richblack;

        i.fas {
            margin-right: 8px;
            position: absolute;
            top: 10px;
            left: 24px;
            font-size: 1.1rem;
        }
    }

    .channel-meta {
        font-size: 0.75rem;
        font-weight: lighter;
        color: $grey;
        margin-left: 24px;

        .divider {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 2px;
            height: 12px;
            border-radius: 2px;
            background: $lightgrey;
            margin: 0 8px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $richblack;
            text-decoration: underline;
        }
    }
}
