@import "../../_defaults.scss";

.channel-info-container {
    width: 100%;
    background: white;
    padding: 8px 24px;
    box-shadow: $panelShadow;
    font-size: 1rem;
    letter-spacing: 0.25px;

    .channel-name {
        padding: 0;
        margin: 0;
        margin-left: 24px;
        margin-bottom: 2px;
        font-weight: bold;
        color: $richblack;

        i.fas {
            margin-right: 8px;
            position: absolute;
            top: 8px;
            left: 24px;
            font-size: 1.1rem;
        }
    }

    .channel-meta {
        font-size: 0.75rem;
        font-weight: lighter;
        color: $grey;
        margin-left: 24px;
    }
}
