@import "../../_defaults.scss";

.messages-container {
    background: $lightgrey;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
    padding-bottom: 104px;
    padding-left: 24px;

    .message {
        align-self: flex-start;
        font-size: 1rem;
        color: $richblack;
        background: white;
        display: inline-block;
        margin: 8px 0;
        padding: 8px;
        padding-top: 4px;
        border-radius: 5px;
        box-shadow: $panelShadow;
        position: relative;

        .message-from {
            display: inline-block;
            background: white;
            font-size: 0.85rem;
        }
    }
}
