@import "../../_defaults.scss";

.messages-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 72px;
    padding-left: 24px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    scroll-padding-bottom: 104px;

    & > :first-child {
        margin-top: auto !important;
    }

    & > :last-child {
        margin-bottom: 100px !important;
    }

    .message {
        align-self: flex-start;
        font-size: 1rem;
        color: $richblack;
        background: white;
        display: inline-block;
        margin: 8px 0;
        padding: 8px;
        padding-top: 4px;
        border-radius: 5px;
        box-shadow: $panelShadow;
        position: relative;

        .message-from {
            display: inline-block;
            background: white;
            font-size: 0.85rem;
        }
    }
}
